# Python Project for Data Engineering

## Project Overview

For this project, you will assume the role of data engineer working for an international financial analysis company. Your company tracks stock prices, commodities, forex rates, inflation rates.  Your job is to extract financial data from various sources like websites, APIs and files provided by various financial analysis firms. After you collect the data, you extract the data of interest to your company and transform it based on the requirements given to you. Once the transformation is complete you load that data into a database.

## Project Tasks

* Collect data using APIs

* Collect data using webscraping.

* Download files to process.    

* Read csv, xml and json file types.

* Extract data from the above file types.

* Transform data.

* Use the built in logging module.

* Save the transformed data in a ready-to-load format which data engineers can use to load the data.

## Extract, Transform, Load

In [42]:
import glob                         # this module helps in selecting files 
import pandas as pd
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

### Download Files

In [43]:
import zipfile
with zipfile.ZipFile(r"C:\Users\baiba\Downloads\source.zip") as zip_ref:
    zip_ref.extractall("targetdir")

In [44]:
tmpfile    = "temp.tmp"               # file used to store all extracted data
logfile    = "logfile.txt"            # all event logs will be stored in this file
targetfile = "transformed_data.csv"   # file where transformed data is stored

## Extract

### CSV Extract Function

In [45]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

### JSON Extract Function

In [25]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,lines=True)
    return dataframe

### XML Extract Function

In [26]:
def extract_from_xml(file_to_process):
    dataframe = pd.DataFrame(columns=["name", "height", "weight"])
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        name = person.find("name").text
        height = float(person.find("height").text)
        weight = float(person.find("weight").text)
        dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
    return dataframe

## Exctract Function

In [46]:
def extract():
    extracted_data = pd.DataFrame(columns=['name','height','weight']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all json files
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    
    #process all xml files
    for xmlfile in glob.glob("*.xml"):
        extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
        
    return extracted_data

## Transform

In [28]:
def transform(data):
        #Convert height which is in inches to millimeter
        #Convert the datatype of the column into float
        #data.height = data.height.astype(float)
        #Convert inches to meters and round off to two decimals(one inch is 0.0254 meters)
        data['height'] = round(data.height * 0.0254,2)
        
        #Convert weight which is in pounds to kilograms
        #Convert the datatype of the column into float
        #data.weight = data.weight.astype(float)
        #Convert pounds to kilograms and round off to two decimals(one pound is 0.45359237 kilograms)
        data['weight'] = round(data.weight * 0.45359237,2)
        return data

## Loading

In [29]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

## Logging

In [47]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

In [48]:
log("ETL Job Started")

In [ ]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

In [ ]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

In [ ]:
log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

# Webscraping

The wikipedia webpage https://en.wikipedia.org/wiki/List_of_largest_banks provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
html_data = requests.get("https://en.wikipedia.org/wiki/List_of_largest_banks").text

In [8]:
html_data[101:124]

'List of largest banks -'

In [9]:
soup = BeautifulSoup(html_data, "html.parser")

In [10]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

Load the data from the By market capitalization table into a pandas dataframe. The dataframe should have the country Name and Market Cap (US$ Billion) as column names. Using the empty dataframe data and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [11]:
for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if col:
        bank_name = col[1].find_all("a")[1].text
        market_cap = float(col[2].text)
        data = data.append({"Name": bank_name,
                            "Market Cap (US$ Billion)": market_cap},
                           ignore_index=True)

In [12]:
data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                    368.78
1  Industrial and Commercial Bank of China                    295.65
2                          Bank of America                    279.73
3                              Wells Fargo                    214.34
4                  China Construction Bank                    207.98

In [13]:
data.to_json(r'largest_bank.json') #export to json

# Extract API Data

In [15]:
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3ae8a41ae8b314fe2c76abee00969ef2"  
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1647945844,
 'base': 'EUR',
 'date': '2022-03-22',
 'rates': {'AED': 4.03948,
  'AFN': 97.31795,
  'ALL': 122.850425,
  'AMD': 539.199454,
  'ANG': 1.988467,
  'AOA': 501.494935,
  'ARS': 120.948615,
  'AUD': 1.48099,
  'AWG': 1.980159,
  'AZN': 1.870276,
  'BAM': 1.956173,
  'BBD': 2.22765,
  'BDT': 94.913444,
  'BGN': 1.955764,
  'BHD': 0.414578,
  'BIF': 2262.687347,
  'BMD': 1.099783,
  'BND': 1.496576,
  'BOB': 7.596501,
  'BRL': 5.428194,
  'BSD': 1.103268,
  'BTC': 2.5700761e-05,
  'BTN': 83.917278,
  'BWP': 12.76287,
  'BYN': 3.606267,
  'BYR': 21555.743907,
  'BZD': 2.22395,
  'CAD': 1.38406,
  'CDF': 2206.16429,
  'CHF': 1.029441,
  'CLF': 0.031637,
  'CLP': 872.963798,
  'CNY': 6.998692,
  'COP': 4185.223645,
  'CRC': 711.081157,
  'CUC': 1.099783,
  'CUP': 29.144246,
  'CVE': 110.285342,
  'CZK': 24.729171,
  'DJF': 196.41087,
  'DKK': 7.439613,
  'DOP': 60.529164,
  'DZD': 156.665859,
  'EGP': 20.348951,
  'ERN': 16.496748,
  'ETB': 56.634746,
  'EUR': 1,
  'FJD': 2.30421,
  'FKP': 0.843488,
  'GBP': 0.833179,
  'GEL': 3.546808,
  'GGP': 0.843488,
  'GHS': 8.054386,
  'GIP': 0.843488,
  'GMD': 58.616969,
  'GNF': 9856.117938,
  'GTQ': 8.501168,
  'GYD': 230.832577,
  'HKD': 8.608226,
  'HNL': 27.080995,
  'HRK': 7.573656,
  'HTG': 115.811361,
  'HUF': 372.738193,
  'IDR': 15775.065279,
  'ILS': 3.547185,
  'IMP': 0.843488,
  'INR': 83.777391,
  'IQD': 1605.682965,
  'IRR': 46520.814778,
  'ISK': 142.697167,
  'JEP': 0.843488,
  'JMD': 168.490078,
  'JOD': 0.779693,
  'JPY': 132.984653,
  'KES': 125.927466,
  'KGS': 109.840594,
  'KHR': 4447.020243,
  'KMF': 490.915559,
  'KPW': 989.804952,
  'KRW': 1341.630621,
  'KWD': 0.334389,
  'KYD': 0.919461,
  'KZT': 561.338434,
  'LAK': 12714.129486,
  'LBP': 1668.162184,
  'LKR': 308.930773,
  'LRD': 168.541198,
  'LSL': 16.452454,
  'LTL': 3.247373,
  'LVL': 0.665247,
  'LYD': 5.130406,
  'MAD': 10.734432,
  'MDL': 20.355999,
  'MGA': 4461.373456,
  'MKD': 61.625806,
  'MMK': 1961.892767,
  'MNT': 3166.024952,
  'MOP': 8.893059,
  'MRO': 392.622289,
  'MUR': 48.887015,
  'MVR': 17.002137,
  'MWK': 901.382454,
  'MXN': 22.351543,
  'MYR': 4.637234,
  'MZN': 70.1987,
  'NAD': 16.453138,
  'NGN': 458.708317,
  'NIO': 39.460278,
  'NOK': 9.627917,
  'NPR': 134.267765,
  'NZD': 1.585057,
  'OMR': 0.42346,
  'PAB': 1.103293,
  'PEN': 4.164856,
  'PGK': 3.887717,
  'PHP': 57.632468,
  'PKR': 199.335729,
  'PLN': 4.699207,
  'PYG': 7680.416635,
  'QAR': 4.004328,
  'RON': 4.944842,
  'RSD': 117.611223,
  'RUB': 114.371943,
  'RWF': 1128.768199,
  'SAR': 4.125486,
  'SBD': 8.851441,
  'SCR': 15.853032,
  'SDG': 492.153137,
  'SEK': 10.421438,
  'SGD': 1.493797,
  'SHP': 1.514838,
  'SLL': 12900.45325,
  'SOS': 643.373313,
  'SRD': 22.777619,
  'STD': 22763.284592,
  'SVC': 9.653693,
  'SYP': 2762.654897,
  'SZL': 16.486391,
  'THB': 36.865833,
  'TJS': 14.348847,
  'TMT': 3.860238,
  'TND': 3.24491,
  'TOP': 2.48628,
  'TRY': 16.295374,
  'TTD': 7.484212,
  'TWD': 31.428714,
  'TZS': 2550.396171,
  'UAH': 32.438278,
  'UGX': 3955.42957,
  'USD': 1.099783,
  'UYU': 46.919654,
  'UZS': 12698.796797,
  'VEF': 235166811856.62354,
  'VND': 25154.783292,
  'VUV': 125.503484,
  'WST': 2.883681,
  'XAF': 656.078012,
  'XAG': 0.043805,
  'XAU': 0.000571,
  'XCD': 2.972218,
  'XDR': 0.798855,
  'XOF': 656.066079,
  'XPF': 119.188963,
  'YER': 275.220858,
  'ZAR': 16.357796,
  'ZMK': 9899.365709,
  'ZMW': 19.528469,
  'ZWL': 354.12963}}

### Save as DataFrame

In [16]:
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1647945844  EUR  2022-03-22     4.039480
AFN     True  1647945844  EUR  2022-03-22    97.317950
ALL     True  1647945844  EUR  2022-03-22   122.850425
AMD     True  1647945844  EUR  2022-03-22   539.199454
ANG     True  1647945844  EUR  2022-03-22     1.988467
..       ...         ...  ...         ...          ...
YER     True  1647945844  EUR  2022-03-22   275.220858
ZAR     True  1647945844  EUR  2022-03-22    16.357796
ZMK     True  1647945844  EUR  2022-03-22  9899.365709
ZMW     True  1647945844  EUR  2022-03-22    19.528469
ZWL     True  1647945844  EUR  2022-03-22   354.129630

[168 rows x 5 columns]

In [17]:
#Drop unnecessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     4.039480
AFN    97.317950
ALL   122.850425
AMD   539.199454
ANG     1.988467
..           ...
YER   275.220858
ZAR    16.357796
ZMK  9899.365709
ZMW    19.528469
ZWL   354.129630

[168 rows x 1 columns]

### Load the data

In [18]:
dataframe.to_csv("exchange_rates_1.csv")